<style>
html {
	 background: url(http://www.hdwallpapersinn.com/wp-content/uploads/2014/07/4f34da0f2cc85.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
<center>
	<br><br><br>
	<h1 style = 'color:white;'> Coming Soon </h1>
	<p style = 'color:white;'> Home of Accent Concierge </p>

