<script>
  $(function(){
      $(".headerhome").typed({
        strings: ["Meet Your New Personal Assistant."],
        typeSpeed: 80
      });
  });
</script>


<br><br><br>
<center>
 <div id= 'textchanger'>
	<span class="headerhome"></span>
</div>

<div class = 'subheader'>
	Experience luxury without the tag.
</div><br><br>

<div class = 'textchanger3'>
	Click To Learn More:       
	<%=link_to 'Corporate', 'http://althealth2.weebly.com/corporate.html'%>  |   <%=link_to 'Individual', 'http://althealth2.weebly.com/individual.html'%>  |   <%=link_to 'Media', 'http://althealth2.weebly.com/media.html'%>  
</div>