<div class = 'background'>
<script>
  $(function(){
      $(".headerhome").typed({
        strings: ["Meet Your New Personal Assistant."],
        typeSpeed: 80
      });
  });
</script>
<br>
<br>
<br>

<br><br><br>
<center>
 <div id= 'textchanger'>
	<span class="headerhome"></span>
</div>

<div class = 'subheader'>
	Experience luxury without the tag.
</div><br><br>

<div class = 'textchanger3 shadow'>
	<a href='http://directory.accent.global'><button style="width: 300px; background-color: white; color: black; height: 50px; border-radius: 20px;">E N T E R</button></a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>


