<div class = 'home'>
<script>
  $(function(){
      $(".headerhome").typed({
        strings: ["Meet Your New Personal Assistant."],
        typeSpeed: 80
      });
  });
</script>
<br>
<br>
<br>

<br><br><br>
<center>
 <div id= 'textchanger'>
	<span class="headerhome"></span>
</div>

<div class = 'subheader'>
	Experience luxury without the tag.
</div><br><br>

<div class = 'textchanger3 shadow'>
	<a href='users/sign_in'><button style="width: 300px; background-color: white; color: black; height: 50px; border-radius: 20px;">Sign In</button></a>
	<a href='users/sign_up'><button style="width: 300px; background-color: #3498db; color: white; height: 50px; border-radius: 20px;">Sign Up</button></a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>


