<div class = 'container'>
	<h2> Other Links </h2><br>
		<ul>
			<li> Knowledge Base </li>
			<li> Grocery List </li>
			<li> Site Feedback </li>
			<li> Vault </li>
			<li> Terms, Conditions, Privacy Policy </li>
			<li> Support </li>
		</ul>
</div>