@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:100);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300);


.home { 
  background: url(http://cdn2.hubspot.net/hub/352767/file-1446095825-jpg/A-su-servicio-DirectButler.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-fixed {
    min-height: 90px;
}


.color{
  color: #3498db;
}


.styling {
  border-radius: 20px;
}

/* Initial body */
body {
  left: 0;
  margin: 0;
  /*overflow: hidden;*/
  position: relative;
   
}

/* Initial menu */
.menu {
  background: white;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
  border-right: 1px solid black;
}

.content{
  position: relative;
}

/* Basic styling */

.jumbotron {
  background-image: url('http://accentconcierge.com/images/job3.png'); 
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.jumbotron h1 {
    color: white;
    font-family: 'Shift', sans-serif;
    font-weight: bold;
    padding-left: 450px;
    padding-top: 50px;
}
.jumbotron p {
    color: white;
    padding-left: 500px
   
}



.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
	color: black;
	display: block;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-top: 3px;
  transition: background 0.5s, color 0.5s;
}

.menu ul li a:hover {
  color: white;
  display: block;
  background-color: #3498db;
  text-decoration: none;
  transition: background 0.5s, color 0.5s;
  width: 100%;
}

.menu a {
  color: black;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu {
  color: black;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
  
}

.icon-menu i {
  margin-right: 5px;
}

/*for typed js*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}




/////////////





#textchanger{
  font-size: 70px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}
#textchanger2{
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
}


.inputme{
  height: 40px;
  width: 300px;
  margin-top: 60px;
  font-size: 30px;
  background-color: transparent;
  border-style: solid;
  border-color: white white #3498db white;
  font-family: 'Raleway', 'sans-serif';
  outline: 0px;
  text-align: center;
}


.submitbutton{
  border-radius: 30px;
  width: 240px;
  height: 60px;
  font-family:'Raleway', 'sans-serif';
  color: white;
  background-color: #3498db;
  margin-top: 50px;
  font-size: 24px;
  border: solid;
  outline: 0px;
}


.textchanger3{
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  padding-top: 10px;
  padding-right:20px;
  color: white;
}

.learnmore{
  border-radius: 30px;
  width: 240px;
  height: 60px;
  font-family:'Raleway', 'sans-serif';
  color: white;
  background-color: #3498db;
  margin-top: 50px;
  font-size: 24px;
  border: solid;
  outline: 0px;
}

.subheader{
  font-size:40px;
  font-family: 'Raleway', 'sans-serif';
  margin-top: 20px;
  margin-left:100px;
  margin-right:100px;
  color: white;
}

.style {
    border-bottom: 5px solid orange; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
   # width: 700px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-family: 'Raleway', 'sans-serif';

}
.field {
  margin-bottom: 50px;
  outline: transparent;
  background: transparent;
  width: 500px;
}

.moreinfo{
  background-color: #3498db;
  height: 40px;
  width: 700px;
  color: white;
  font-size: 25px;
  border-radius: 20px;
}



